body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #ccc;
}

header {
  background-color: #222;
  color: #00ffcc;
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
}

nav {
  text-align: left;
}

h1 {
  margin: 0;
  font-size: 36px;
  color: #00ffcc;
}

nav p {
  margin: 5px 0;
  color: #ccc;
}

a {
  color: #00ffcc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

article {
  background-color: #111;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 255, 204, 0.3);
}

h2 {
  color: #00ffcc;
  font-size: 24px;
  border-bottom: 1px solid #00ffcc;
  padding-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  font-size: 18px;
}

hr {
  border: 1px solid #00ffcc;
}

h2 + ul {
  margin-top: -10px;
}
